* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#fixed {
    width: 100%;
    position: fixed;
}

#top-bar {
    background-color: #1F2041;
    padding: 20px;
    text-align: center;
}

#top-icon {
    float: left;
    position: absolute;
    left: 30px;
    top: 8px;
    width: 62px;
}

h1 {
    color: wheat;
    width: 190px;
    margin: auto;
}

main {
    background-color: yellow;
    text-align: center;
    padding-top: 140px;
}

main h2 {
    font-size: 40px;
    margin-bottom: 30px;
}

#text-img {
    float: left;
    width: 250px;
    margin: 10px 30px 20px 140px;
}

#menu-box {
    background-color: #4B3F72;
    border: black 2px solid;
}

.box {
    color: white;
    display: inline-block;
    margin: 10px 0 10px 18px;
}

#text {
    text-align: justify;
    font-size: 30px;
    width: 80%;
    margin: auto;
}

#menu-box label{    
    font-size: 16px;
    font-weight: 700;
}

#menu-box input{
    height: 20px;
    width: 150px;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 7px;
    text-align: center;
    color: white;
    background-color: black;
}